<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>JobListController</servlet-name>
        <servlet-class>controllers.user.JobListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobDetailController</servlet-name>
        <servlet-class>controllers.user.JobDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JobListController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDetailController</servlet-name>
        <url-pattern>/job-detail</url-pattern>
    </servlet-mapping>
</web-app>
