<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filters.AuthFilter</filter-class>
    </filter>
        <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filters.AdminFilter</filter-class>
    </filter>
        <filter>
        <filter-name>StudentFilter</filter-name>
        <filter-class>filters.StudentFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EmployerFilter</filter-name>
        <filter-class>filters.EmployerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/userAccount</url-pattern>
        <url-pattern>/userLogout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StudentFilter</filter-name>
        <url-pattern>/student/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EmployerFilter</filter-name>
        <url-pattern>/employer/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UserHomeController</servlet-name>
        <servlet-class>controllers.user.UserHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserJobDetailController</servlet-name>
        <servlet-class>controllers.user.UserJobDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginController</servlet-name>
        <servlet-class>controllers.user.UserLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterController</servlet-name>
        <servlet-class>controllers.user.UserRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutController</servlet-name>
        <servlet-class>controllers.user.UserLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>controllers.admin.AdminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDashboardController</servlet-name>
        <servlet-class>controllers.student.StudentDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployerDashboardController</servlet-name>
        <servlet-class>controllers.employer.EmployerDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAccountController</servlet-name>
        <servlet-class>controllers.user.UserAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentProfileController</servlet-name>
        <servlet-class>controllers.student.StudentProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployerProfileController</servlet-name>
        <servlet-class>controllers.employer.EmployerProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageUserController</servlet-name>
        <servlet-class>controllers.admin.AdminManageUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserHomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserJobDetailController</servlet-name>
        <url-pattern>/jobDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginController</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterController</servlet-name>
        <url-pattern>/userRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutController</servlet-name>
        <url-pattern>/userLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDashboardController</servlet-name>
        <url-pattern>/student/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployerDashboardController</servlet-name>
        <url-pattern>/employer/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAccountController</servlet-name>
        <url-pattern>/userAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentProfileController</servlet-name>
        <url-pattern>/student/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployerProfileController</servlet-name>
        <url-pattern>/employer/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageUserController</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
